<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xnjt.demo.mapper.DataMapper">
	<resultMap type="edu.xnjt.demo.model.Movie" id="movie_result">
    <id  column="mid" property="mid" javaType="java.lang.Integer" jdbcType="INTEGER"/> 
    <result  column="mname" property="mname" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result  column="starring" property="starring" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result  column="director" property="director" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result  column="into" property="into" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result  column="imgurl" property="imgurl" javaType="java.lang.String" jdbcType="VARCHAR"/>
  </resultMap>
	<delete id="removeMoviename" parameterType="edu.xnjt.demo.model.Data">
              delect * from lovemovie
              where
              mid="1"
	</delete>
            <select id="selectMoviename" parameterType="java.lang.String" resultType="edu.xnjt.demo.model.Data">
              select * from lovemovie
              where
              mname = #{mname}
            </select>
</mapper>
