<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="edu.swjtuhc.demo.mapper.FilmMapper">
        
        <insert id="addFilm" parameterType="edu.swjtuhc.demo.model.Film">
        insert  into film(film_mname,film_starring,film_into,film_director,film_imgurl)
        values (#{mname},#{starring},#{into},#{director},#{imgurl})     
        </insert>
        <delete id="deleteFilm" parameterType="edu.swjtuhc.demo.model.Film">
        delete * from film where film_mide=#{mid}       
        </delete>
         <update id="updateFilm" parameterType ="edu.swjtuhc.demo.model.Film">
        update  film set film_into =#{into}, film_starring = #{starring} ,film_director=#{director},film_imgurl=#{imgurl} 
        where  film_mid= #{mid}
    </update>

<select id="getFilmById" parameterType ="edu.swjtuhc.demo.model.Film" resultType="edu.swjtuhc.demo.model.Film">
select  film_mid mid,  film_mname mname, film_starring starring, film_into into, film_director director, film_imgurl imgurl from film 
where film_mid=#{mid}

</select>
        
        <select id="selectAllFilm" resultType="edu.swjtuhc.demo.model.Film">
        select  film_mid mid ,film_mname mname, film_starring starring, film_into into, film_director director, film_imgurl imgurl from film
        
        </select>       
        </mapper>