<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xnjt.demo.mapper.LoginMapper">
	<insert id="insertUser" parameterType="edu.xnjt.demo.model.UserLogin">
	      insert into userlogin
	      (username,password)
	      values
	      (#{username},#{password})
	</insert>
            <select id="selectUserByUsername" parameterType="java.lang.String" resultType="edu.xnjt.demo.model.UserLogin">
              select * from userlogin
              where
              username = #{username}
            </select>
</mapper>